{{!-- <div class="container">
        <h1 class="formTitle" > Ingrese el Id del Producto a modificar </h1>
        <form action="/products/modify/:id" method="GET">
            <div class="title">
                <label for="title">ID:</label>
                <input name="title" id="title" value="{{product.id}}"  type="number">
            </div>
            <div class="btnContainer">
                    <button id="addProduct" type="submit" class="addProduct">
                        <span>Agregar</span>
                    </button>
                    <button class="goToList" type="button" onclick="window.location.href='/productsList'">
                        <span>Volver</span>
                    </button>
            </div>  
        </form>
    </div> --}}